.forinvestors {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    flex-direction: column;
    gap: 2rem;
}

.crypto-info {
    height: 250px; 
    max-width: 1000px; /* Фиксированная ширина контейнера */
    width: 100%;
    width: auto; 
    background-color: rgb(248, 245, 245);
    display: flex;
    flex-direction: row; 
    overflow-x: auto; 
    white-space: nowrap;
    border: 1px solid #ffdd2d;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}
.crypto-info::-webkit-scrollbar {
    width: 10px; /* Ширина полосы прокрутки */
}

/* Цвет полосы прокрутки */
.crypto-info::-webkit-scrollbar-thumb {
    background-color: #ffdd2d; /* Установите желаемый цвет */
}
  
.crypto_block {
    display: flex;
    height: 200px;
    min-width: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    padding: 10px;
    border: 1px solid #ffdd2d;
    gap: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.crypto_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.crypto_text {
    font-family: 'Abel', sans-serif;
    font-size: 19px;
    opacity: 0.6;
}

.crypto_input {
    background-color: white;
    color: black;
    border: 1px solid #ffdd2d;
    width: 280px;
    height: 65px;
    border-radius: 10px;
    font-family: 'Abel', sans-serif;
}
  